# Virtualenv
venv/
.env

# Python cache
*.pyc
__pycache__/

# Django settings
*.sqlite3
/media/

# Static and collected files
/static/
*.log

# OS-specifikke filer
.DS_Store
Thumbs.db

*.po
*.mo
/locale/

*/migrations/*.py
!*/migrations/__init__.py

*.log
*.out
*.err
.idea/
