<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<body>
    <h1>Visitor Logs</h1>
    <table>
        <thead>
            <tr>
                <th>IP Address</th>
                <th>User Agent</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for click in clicks %}
            <tr>
                <td>{{ click.ip_address }}</td>
                <td>{{ click.user_agent }}</td>
                <td>{{ click.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
